<!DOCTYPE html>
<html lang="en">
<style media="screen">
	li {
		padding: 5px;
		margin: 5px;
		background: #faebd7;
	}

	.label {
		font-weight: bold;
	}

	.create-update-form {
		padding: 5px;
		margin: 5px;
		background: aqua;
	}

	.form-group {
		margin-bottom: 5px;
	}
</style>
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="assets/css/style.css" type="text/css"> --}}
		<title>Financial Budgeting</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
